##(/Users/itsmesuryaa/Python/Kaggle_Dataset/GenAI_Krish/genai_project/lggen) 

langchain
python-dotenv ##this helps to use the API in my project
numpy 

langchain_community
pypdf

##Text Splitters

langchain-text-splitters

langchain_openai

sentence_transformers
chromadb 
#hashlib
faiss-cpu
numpy

langchain_huggingface
langchain_chroma


##required lib for project1
#langchain
openai

## simpleapp
beautifulsoup4
streamlit


##simplellmLCEL
langchain_groq
langchain_core 

##Serve.
fastapi 
uvicorn
langserve 
langchain_classic 
tiktoken
chromadb 
langchain_experimental 
pymupdf 

numpy
matplotlib 
langchain_chroma 


langchain_astradb 
langchain-pinecone 
langchain_text_splitters 
rank_bm25 
langchain_cohere




